<section id="contact" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-between center" fxLayoutAlign.xs="stretch" fxLayoutAlign.sm="stretch" fxLayoutGap.lt-md="30px">
  <div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100"  fxLayout="column" fxLayoutAlign="center stretch">
    <div fxFlex="100" id="feedback">{{ messageFeedback }}</div>
    <form fxFlex="100" [formGroup]="myForm" fxLayout="column" fxLayoutAlign="space-between stretch" fxFlexOrder.lt-md="2">
      <mat-form-field appearance="outline">
        <mat-label>Votre email</mat-label>
        <input matInput placeholder="Entrez votre email" required [formControl]="userEmail">
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="5" placeholder="Entrez votre message" required [formControl]="userTexte" ></textarea>
      </mat-form-field>
      <button mat-flat-button color="primary"[disabled]="myForm.invalid" (click)="send()">Envoyer</button>
    </form>
  </div>
  <div fxFlex.gt-sm="50" fxFlex.lt-sm="100" fxFlexOrder.lt-md="1" fxLayout="column"fxLayoutAlign="center center">
    <h2>ME CONTACTER</h2>
    <h3>Nicolas Osmont</h3>
    <h3>06.17.56.12.84</h3>
  </div>

</section>
