<section id="services" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="30px">
  <div fxLayout="row wrap" fxLayoutGap.xs="30px" fxLayoutGap.sm="30px" fxLayoutGap="20px">
    <mat-card fxFlex="18%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%" class="service-card-1">
      <img mat-card-image src="../../../assets/pictures/laveur_vitre_toit_apres.jpg" alt="Laveur de vitre - bardages">
      <mat-card-content>
        <mat-card-title>Bardages</mat-card-title>
        <p>
          Texte et photos a fournir
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="18%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%" class="service-card-2">
      <img mat-card-image src="../../../assets/pictures/laveur_vitres_panneaux_solaire.jpg" alt="Laveur de vitre - panneaux solaire">
      <mat-card-content>
        <mat-card-title>Panneaux solaire</mat-card-title>
        <p>
          Texte et photos a fournir
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="18%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%" class="service-card-3">
      <img mat-card-image src="../../../assets/pictures/laveur_vitre_toit_apres.jpg" alt="Laveur de vitre - palissades">
      <mat-card-content>
        <mat-card-title>Palissades</mat-card-title>
        <p>
          Texte et photos a fournir
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="18%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%"class="service-card-4">
      <img mat-card-image src="../../../assets/pictures/laveur_vitre_volet_apres.jpg" alt="Laveur de vitre - volet roulant">
      <mat-card-content>
        <mat-card-title>Volets roulants</mat-card-title>
        <p>
          Texte et photos a fournir
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="18%" fxFlex.md="40%" fxFlex.sm="100%" fxFlex.xs="100%" class="service-card-5">
      <img mat-card-image src="../../../assets/pictures/laveur_vitre_veranda_apres.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <mat-card-title>Véranda</mat-card-title>
        <p>
          Texte et photos a fournir
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <p>J'ai en ma possession une machine hydro power qui me permet de réaliser ces services jusqu'à 12,8 mètres de hauteur, tout en étant écologique.
    Et ceci grace au système de filtration qui enlève  le calcaire et les minéraux de l'eau.
    </p>
    <p>
      Pour le lavage de vos vitres, mes services sont de 30 euros de l'heure. A chaque utilisation de la machine le filtre vous coutera 50 euros en plus du taux horaire.
    </p>
    <p></p>
  </div>
</section>
