<section id="introduction" fxLayout="row" fxLayoutGap="150px" fxLayoutGap.lt-md="50px">
  <div>
    <h1>Niconet vitres</h1>
    <h2>Le lavage de vitres en toute efficacité</h2>
    <p>
    Je vous propose mes services en tant que laveur de vitres pour nettoyer vos bardages, panneaux solaire, volets roulants, palissades mais encore vos fenetres inaccessibles ou même véranda.
    </p>
  </div>
  <div id="intro-image">
    <img alt="niconet-laveur de vitres" src="assets/pictures/introduction.jpg">
  </div>
</section>
