h1 {
  color: #323232;
  font-size: 14px;
  margin-bottom: 5px;
}

.invisible {
  visibility: hidden;
}

.stars {
  margin-left: -10px;
}

.mat-form-field-wrapper {
  padding-bottom: 0 !important;
}

.starColor {
  color: #dedb3a;
}
